.dropdown {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown ul {
    position: absolute;
    top: 30px;
    background-color: white;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.dropdown ul li {
    list-style-type: none;
    text-transform: capitalize;
}

.dropdown ul li:hover {
    background-color: lightgray;
}

/* .account {
    cursor: pointer;
}

.dropdown {
    position:fixed;
    top: 40px;
    right: 0px;
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 12px;
}

.dropdown a {
    color: #41342e;
    color: white;
}

.title {
    color: green;
} */