.main {
    position: fixed;
    top: 60px;
    bottom: 40px;
    width: 100%;
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

.labelledTextInput {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.labelledTextInput input {
    flex-grow: 1;
}
