.hourBlock {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    /* margin-bottom: 10px; */
    position: relative;
    display: flex;
}

.hourBlock:last-child {
    border-bottom: none;
}

.hour {
    display: inline;
}