.nav {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 60px;
    z-index: 10;
}

.nav a {
    margin: 0px 10px;
    text-transform: capitalize;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav ul li {
    list-style-type: none;
}