.section {
    /* background-color: #f1edec; */
    background-color: white;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    border-left: 1px solid black;
    border-right: 1px solid black;
}